:root {
  --speed: 200ms;
}

.App {
  position: relative;
  width: 19rem;
  height: 38rem;
  padding: 0.75rem;
  border-radius: 1.5rem;
  border: 0.25rem solid #e4e3e7;
  color: #444;
  background-color: #f5f4f9;
}
