.button {
  border: 2px solid;
  border-radius: 1rem;
  outline: none;
  font-family: kanit, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  user-select: none;
}

.button:active,
.active {
  box-shadow: inset 2px 2px 4px 1px rgba(0, 0, 0, 0.24);
}

.button:hover {
  filter: brightness(0.9);
}

.function {
  background: linear-gradient(
    -45deg,
    var(--function-button-start),
    var(--function-button-end)
  );
  border-color: var(--function-button-border);
}

.operator {
  background: linear-gradient(
    -45deg,
    var(--operator-button-start),
    var(--operator-button-end)
  );
  border-color: var(--operator-button-border);
}

.number {
  background: linear-gradient(
    -45deg,
    var(--number-button-start),
    var(--number-button-end)
  );
  border-color: var(--number-button-border);
}

.doubleWidth {
  grid-column: span 2;
}
