.expressionContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.expressionContainer::-webkit-scrollbar {
  background: transparent;
  height: 0;
}

.expression {
  line-height: 1;
  text-align: right;
  text-wrap: nowrap;
}

.testExpressionLine {
  position: absolute;
  left: -9999px;
  font-size: 2rem;
}

.fontSize1 {
  font-size: 3.5rem;
}

.fontSize2 {
  font-size: 3.25rem;
}

.fontSize3 {
  font-size: 3rem;
}

.fontSize4 {
  font-size: 2.75rem;
}

.fontSize5 {
  font-size: 2.5rem;
}

.fontSize6 {
  font-size: 2.25rem;
}

.fontSize7 {
  font-size: 2rem;
}

.fontSize8 {
  font-size: 1.75rem;
}

.fontSize9 {
  font-size: 1.5rem;
}
