.menu {
  position: absolute;
  top: 2.5rem;
  right: 1rem;
  width: 50%;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: var(--bg-colour);
  color: var(--text-colour);
  user-select: none;
}

.menu li {
  display: flex;
  align-items: center;
  height: 3rem;
  cursor: pointer;
}
