.menuOverlay {
  position: absolute;
  top: -0.25rem;
  left: -0.25rem;
  width: 19rem;
  height: 38rem;
  border-radius: 1.5rem;
  background-color: #686eae60;
}

.menu {
  position: absolute;
  top: 2.5rem;
  right: 1rem;
  width: 50%;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: #e4e3e7;
}

.menu li {
  display: flex;
  align-items: center;
  height: 3rem;
}