.settingsContainer {
  position: absolute;
  top: 9rem;
  left: -0.25rem;
  width: 100%;
  display: flex;
  justify-content: center;
  user-select: none;
}

.settings {
  width: 65%;
  padding: 1.5rem 1.75rem 2.25rem 1.75rem;
  border-radius: 1rem;
  color: var(--text-colour);
  background-color: var(--bg-colour);
}

.settings h2 {
  font-weight: normal;
}
