.switchContainer {
  --width: 2.5rem;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  cursor: pointer;
}

.switchName {
  font-weight: normal;
}

.switchInput {
  display: none;
}

.switchRow {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.switchFill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background-color: var(--bg-accent);
}

.switchFill::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(var(--height) - 4px);
  height: calc(var(--height) - 4px);
  border-radius: var(--border-radius);
  background-color: var(--text-colour);
  transition: transform var(--speed);
}

.switchInput:checked ~ .switchRow .switchFill::after {
  transform: translateX(var(--height));
}