@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Kanit, sans-serif;
  background-image: linear-gradient(
    to top,
    #54536f,
    #7a7890,
    #a2a0b1,
    #cbc9d5,
    #f5f4f9
  );
}
